In [21]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(data=[3.2,5.6,8.0], index=pd.to_datetime(['2018-01-31', '2018-02-28', '2018-09-30']))

In [3]:
s

2018-01-31    3.2
2018-02-28    5.6
2018-09-30    8.0
dtype: float64

In [4]:
s.reindex(pd.date_range('2018-01', '2018-12', freq='M')).fillna(method='ffill')

2018-01-31    3.2
2018-02-28    5.6
2018-03-31    5.6
2018-04-30    5.6
2018-05-31    5.6
2018-06-30    5.6
2018-07-31    5.6
2018-08-31    5.6
2018-09-30    8.0
2018-10-31    8.0
2018-11-30    8.0
Freq: M, dtype: float64

In [5]:
df = pd.DataFrame(data = {
    'grp1': ['red','red','red','blue','blue'],
    'grp2': [18, 20,20, 18, 22],
    'dt': pd.to_datetime(['2018-01-31', '2018-02-28', '2018-09-30', '2018-01-31', '2018-09-30']),
    's': [3.2, 4.8, 5.1, 5.3, 5.8],
    'r': [1,2,3,4,5],
    't': [7,8,9,10,11],
})

In [6]:
df

   grp1  grp2         dt    s  r   t
0   red    18 2018-01-31  3.2  1   7
1   red    20 2018-02-28  4.8  2   8
2   red    20 2018-09-30  5.1  3   9
3  blue    18 2018-01-31  5.3  4  10
4  blue    22 2018-09-30  5.8  5  11

In [7]:
df = df.set_index(['grp1', 'grp2'])

In [8]:
idx = pd.date_range('2017-12', '2018-12', freq='M')
def my_reindex(x):
    #import pdb; pdb.set_trace()
    tmp = x.set_index(x.dt).reindex(idx)
    tmp['dt'] = tmp.index.get_level_values(0)
    return tmp

In [9]:
df = df.groupby(['grp1', 'grp2']).apply(my_reindex)

In [10]:
df

                             dt    s    r     t
grp1 grp2
blue 18   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  5.3  4.0  10.0
          2018-02-28 2018-02-28  NaN  NaN   NaN
          2018-03-31 2018-03-31  NaN  NaN   NaN
          2018-04-30 2018-04-30  NaN  NaN   NaN
          2018-05-31 2018-05-31  NaN  NaN   NaN
          2018-06-30 2018-06-30  NaN  NaN   NaN
          2018-07-31 2018-07-31  NaN  NaN   NaN
          2018-08-31 2018-08-31  NaN  NaN   NaN
          2018-09-30 2018-09-30  NaN  NaN   NaN
          2018-10-31 2018-10-31  NaN  NaN   NaN
          2018-11-30 2018-11-30  NaN  NaN   NaN
     22   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  NaN  NaN   NaN
          2018-02-28 2018-02-28  NaN  NaN   NaN
          2018-03-31 2018-03-31  NaN  NaN   NaN
          2018-04-30 2018-04-30  NaN  NaN   NaN
          2018-05-31 2018-05-31  NaN  NaN   NaN
          2018-06-30 2018-06-30  NaN  NaN   NaN
          2018-07-31 2018-07-31  NaN  NaN   NaN
          2018-08-31 2018-08-31  NaN  NaN   NaN
          2018-09-30 2018-09-30  5.8  5.0  11.0
          2018-10-31 2018-10-31  NaN  NaN   NaN
          2018-11-30 2018-11-30  NaN  NaN   NaN
red  18   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  3.2  1.0   7.0
          2018-02-28 2018-02-28  NaN  NaN   NaN
          2018-03-31 2018-03-31  NaN  NaN   NaN
          2018-04-30 2018-04-30  NaN  NaN   NaN
          2018-05-31 2018-05-31  NaN  NaN   NaN
          2018-06-30 2018-06-30  NaN  NaN   NaN
          2018-07-31 2018-07-31  NaN  NaN   NaN
          2018-08-31 2018-08-31  NaN  NaN   NaN
          2018-09-30 2018-09-30  NaN  NaN   NaN
          2018-10-31 2018-10-31  NaN  NaN   NaN
          2018-11-30 2018-11-30  NaN  NaN   NaN
     20   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  NaN  NaN   NaN
          2018-02-28 2018-02-28  4.8  2.0   8.0
          2018-03-31 2018-03-31  NaN  NaN   NaN
          2018-04-30 2018-04-30  NaN  NaN   NaN
          2018-05-31 2018-05-31  NaN  NaN   NaN
          2018-06-30 2018-06-30  NaN  NaN   NaN
          2018-07-31 2018-07-31  NaN  NaN   NaN
          2018-08-31 2018-08-31  NaN  NaN   NaN
          2018-09-30 2018-09-30  5.1  3.0   9.0
          2018-10-31 2018-10-31  NaN  NaN   NaN
          2018-11-30 2018-11-30  NaN  NaN   NaN

In [11]:
df[['s', 'r']] = df.groupby(level=[0,1])[['s','r']].fillna(method='ffill').fillna(method='bfill')

In [12]:
df

                             dt    s    r     t
grp1 grp2
blue 18   2017-12-31 2017-12-31  5.3  4.0   NaN
          2018-01-31 2018-01-31  5.3  4.0  10.0
          2018-02-28 2018-02-28  5.3  4.0   NaN
          2018-03-31 2018-03-31  5.3  4.0   NaN
          2018-04-30 2018-04-30  5.3  4.0   NaN
          2018-05-31 2018-05-31  5.3  4.0   NaN
          2018-06-30 2018-06-30  5.3  4.0   NaN
          2018-07-31 2018-07-31  5.3  4.0   NaN
          2018-08-31 2018-08-31  5.3  4.0   NaN
          2018-09-30 2018-09-30  5.3  4.0   NaN
          2018-10-31 2018-10-31  5.3  4.0   NaN
          2018-11-30 2018-11-30  5.3  4.0   NaN
     22   2017-12-31 2017-12-31  5.8  5.0   NaN
          2018-01-31 2018-01-31  5.8  5.0   NaN
          2018-02-28 2018-02-28  5.8  5.0   NaN
          2018-03-31 2018-03-31  5.8  5.0   NaN
          2018-04-30 2018-04-30  5.8  5.0   NaN
          2018-05-31 2018-05-31  5.8  5.0   NaN
          2018-06-30 2018-06-30  5.8  5.0   NaN
          2018-07-31 2018-07-31  5.8  5.0   NaN
          2018-08-31 2018-08-31  5.8  5.0   NaN
          2018-09-30 2018-09-30  5.8  5.0  11.0
          2018-10-31 2018-10-31  5.8  5.0   NaN
          2018-11-30 2018-11-30  5.8  5.0   NaN
red  18   2017-12-31 2017-12-31  3.2  1.0   NaN
          2018-01-31 2018-01-31  3.2  1.0   7.0
          2018-02-28 2018-02-28  3.2  1.0   NaN
          2018-03-31 2018-03-31  3.2  1.0   NaN
          2018-04-30 2018-04-30  3.2  1.0   NaN
          2018-05-31 2018-05-31  3.2  1.0   NaN
          2018-06-30 2018-06-30  3.2  1.0   NaN
          2018-07-31 2018-07-31  3.2  1.0   NaN
          2018-08-31 2018-08-31  3.2  1.0   NaN
          2018-09-30 2018-09-30  3.2  1.0   NaN
          2018-10-31 2018-10-31  3.2  1.0   NaN
          2018-11-30 2018-11-30  3.2  1.0   NaN
     20   2017-12-31 2017-12-31  4.8  2.0   NaN
          2018-01-31 2018-01-31  4.8  2.0   NaN
          2018-02-28 2018-02-28  4.8  2.0   8.0
          2018-03-31 2018-03-31  4.8  2.0   NaN
          2018-04-30 2018-04-30  4.8  2.0   NaN
          2018-05-31 2018-05-31  4.8  2.0   NaN
          2018-06-30 2018-06-30  4.8  2.0   NaN
          2018-07-31 2018-07-31  4.8  2.0   NaN
          2018-08-31 2018-08-31  4.8  2.0   NaN
          2018-09-30 2018-09-30  5.1  3.0   9.0
          2018-10-31 2018-10-31  5.1  3.0   NaN
          2018-11-30 2018-11-30  5.1  3.0   NaN

In [31]:
grp = list('a'*10 + 'b'*10)

In [29]:
a = np.random.random(20)
b = np.random.random(20)

In [34]:
df = pd.DataFrame(data={'a':a, 'b': b, 'grp':grp}).reindex()

In [35]:
df

           a         b grp
0   0.127549  0.519809   a
1   0.747064  0.578003   a
2   0.700345  0.669318   a
3   0.918301  0.640542   a
4   0.145638  0.385831   a
5   0.629985  0.543243   a
6   0.823524  0.337866   a
7   0.920285  0.450894   a
8   0.504879  0.778842   a
9   0.551221  0.711543   a
10  0.426566  0.824588   b
11  0.696181  0.560486   b
12  0.368793  0.495373   b
13  0.184642  0.597128   b
14  0.143368  0.053302   b
15  0.515057  0.931680   b
16  0.936834  0.158296   b
17  0.842991  0.551786   b
18  0.733862  0.175616   b
19  0.268917  0.114932   b

This is common in alpha modeling. You want the percentile rank of a stock by some value. Assuming the dataframe is one day, stocks in rows, and grp is the, say, sector indicator. What is the percentile rank for each stock in each sector by some raw value "a"? In this case, we want the highest number to be at the lowest percentile.

In [41]:
df.groupby('grp')['a'].rank(ascending=False, pct=True)

0     1.0
1     0.4
2     0.5
3     0.2
4     0.9
5     0.6
6     0.3
7     0.1
8     0.8
9     0.7
10    0.6
11    0.4
12    0.7
13    0.9
14    1.0
15    0.5
16    0.1
17    0.2
18    0.3
19    0.8
Name: a, dtype: float64