In [2]:
import numpy as np
import pandas as pd

# Miscellaneous

In [3]:
pd.set_option("display.precision", 2)    # set display of dataframe to 2 decimal places


Some good tricks! especially testing data and introspecting groups by iteration

https://realpython.com/python-pandas-tricks/

# Data Presentation

The typical case with fianancial data is that you have three dataframes

- A single dataframe of pricing data; could have missing dates, not all symbols exist for all dates
- A dataframe with reference data (e.g., industry)
- A dataframe with some other time indexed data; could be sparse in time

In [8]:
import pandas.util.testing as tm

In [9]:
tm.makeTimeDataFrame(freq='M').head()

               A     B     C     D
2000-01-31  0.45  0.15 -0.14  0.77
2000-02-29 -1.59  0.51 -0.22 -0.32
2000-03-31  0.41 -0.54 -1.57 -0.80
2000-04-30 -1.54 -0.61 -0.67  0.93
2000-05-31  0.26  1.10 -0.45 -0.19

In [17]:
tm.makeMissingCustomDataframe(nrows=100, ncols=5, r_idx_nlevels=3)

C0                         C_l0_g0 C_l0_g1 C_l0_g2 C_l0_g3 C_l0_g4
R0       R1       R2
R_l0_g0  R_l1_g0  R_l2_g0      NaN    R0C1    R0C2    R0C3    R0C4
R_l0_g1  R_l1_g1  R_l2_g1     R1C0    R1C1    R1C2    R1C3    R1C4
R_l0_g2  R_l1_g2  R_l2_g2     R2C0    R2C1    R2C2    R2C3    R2C4
R_l0_g3  R_l1_g3  R_l2_g3     R3C0    R3C1    R3C2    R3C3    R3C4
R_l0_g4  R_l1_g4  R_l2_g4     R4C0    R4C1    R4C2    R4C3    R4C4
R_l0_g5  R_l1_g5  R_l2_g5     R5C0     NaN     NaN    R5C3    R5C4
R_l0_g6  R_l1_g6  R_l2_g6     R6C0    R6C1    R6C2    R6C3    R6C4
R_l0_g7  R_l1_g7  R_l2_g7     R7C0    R7C1    R7C2    R7C3    R7C4
R_l0_g8  R_l1_g8  R_l2_g8      NaN    R8C1    R8C2    R8C3    R8C4
R_l0_g9  R_l1_g9  R_l2_g9     R9C0    R9C1     NaN     NaN    R9C4
R_l0_g10 R_l1_g10 R_l2_g10   R10C0   R10C1   R10C2   R10C3     NaN
R_l0_g11 R_l1_g11 R_l2_g11   R11C0   R11C1   R11C2   R11C3   R11C4
R_l0_g12 R_l1_g12 R_l2_g12   R12C0   R12C1   R12C2   R12C3   R12C4
R_l0_g13 R_l1_g13 R_l2_g13   R13C0   R13C1   R13C2   R13C3   R13C4
R_l0_g14 R_l1_g14 R_l2_g14   R14C0   R14C1     NaN   R14C3   R14C4
R_l0_g15 R_l1_g15 R_l2_g15     NaN   R15C1   R15C2   R15C3   R15C4
R_l0_g16 R_l1_g16 R_l2_g16   R16C0     NaN   R16C2   R16C3   R16C4
R_l0_g17 R_l1_g17 R_l2_g17   R17C0     NaN   R17C2   R17C3   R17C4
R_l0_g18 R_l1_g18 R_l2_g18   R18C0   R18C1   R18C2   R18C3   R18C4
R_l0_g19 R_l1_g19 R_l2_g19   R19C0   R19C1   R19C2   R19C3     NaN
R_l0_g20 R_l1_g20 R_l2_g20   R20C0   R20C1   R20C2   R20C3   R20C4
R_l0_g21 R_l1_g21 R_l2_g21   R21C0   R21C1   R21C2   R21C3   R21C4
R_l0_g22 R_l1_g22 R_l2_g22     NaN     NaN   R22C2   R22C3   R22C4
R_l0_g23 R_l1_g23 R_l2_g23   R23C0   R23C1   R23C2   R23C3   R23C4
R_l0_g24 R_l1_g24 R_l2_g24   R24C0   R24C1   R24C2   R24C3   R24C4
R_l0_g25 R_l1_g25 R_l2_g25   R25C0   R25C1   R25C2   R25C3   R25C4
R_l0_g26 R_l1_g26 R_l2_g26     NaN   R26C1   R26C2   R26C3   R26C4
R_l0_g27 R_l1_g27 R_l2_g27   R27C0   R27C1   R27C2   R27C3   R27C4
R_l0_g28 R_l1_g28 R_l2_g28   R28C0   R28C1   R28C2   R28C3   R28C4
R_l0_g29 R_l1_g29 R_l2_g29   R29C0   R29C1   R29C2   R29C3   R29C4
...                            ...     ...     ...     ...     ...
R_l0_g70 R_l1_g70 R_l2_g70   R70C0   R70C1   R70C2   R70C3   R70C4
R_l0_g71 R_l1_g71 R_l2_g71   R71C0   R71C1   R71C2     NaN   R71C4
R_l0_g72 R_l1_g72 R_l2_g72   R72C0   R72C1   R72C2   R72C3     NaN
R_l0_g73 R_l1_g73 R_l2_g73   R73C0   R73C1   R73C2   R73C3   R73C4
R_l0_g74 R_l1_g74 R_l2_g74     NaN   R74C1   R74C2   R74C3   R74C4
R_l0_g75 R_l1_g75 R_l2_g75     NaN   R75C1   R75C2   R75C3   R75C4
R_l0_g76 R_l1_g76 R_l2_g76   R76C0   R76C1   R76C2   R76C3   R76C4
R_l0_g77 R_l1_g77 R_l2_g77   R77C0   R77C1   R77C2   R77C3     NaN
R_l0_g78 R_l1_g78 R_l2_g78   R78C0   R78C1   R78C2   R78C3   R78C4
R_l0_g79 R_l1_g79 R_l2_g79   R79C0   R79C1     NaN   R79C3   R79C4
R_l0_g80 R_l1_g80 R_l2_g80     NaN   R80C1   R80C2   R80C3   R80C4
R_l0_g81 R_l1_g81 R_l2_g81   R81C0   R81C1   R81C2   R81C3   R81C4
R_l0_g82 R_l1_g82 R_l2_g82   R82C0     NaN     NaN   R82C3   R82C4
R_l0_g83 R_l1_g83 R_l2_g83   R83C0   R83C1   R83C2   R83C3     NaN
R_l0_g84 R_l1_g84 R_l2_g84   R84C0   R84C1   R84C2   R84C3   R84C4
R_l0_g85 R_l1_g85 R_l2_g85   R85C0   R85C1   R85C2   R85C3   R85C4
R_l0_g86 R_l1_g86 R_l2_g86   R86C0   R86C1   R86C2   R86C3   R86C4
R_l0_g87 R_l1_g87 R_l2_g87   R87C0   R87C1   R87C2     NaN   R87C4
R_l0_g88 R_l1_g88 R_l2_g88   R88C0     NaN   R88C2   R88C3   R88C4
R_l0_g89 R_l1_g89 R_l2_g89   R89C0   R89C1     NaN   R89C3   R89C4
R_l0_g90 R_l1_g90 R_l2_g90   R90C0   R90C1   R90C2   R90C3   R90C4
R_l0_g91 R_l1_g91 R_l2_g91     NaN   R91C1   R91C2   R91C3   R91C4
R_l0_g92 R_l1_g92 R_l2_g92   R92C0   R92C1   R92C2   R92C3   R92C4
R_l0_g93 R_l1_g93 R_l2_g93   R93C0   R93C1   R93C2   R93C3   R93C4
R_l0_g94 R_l1_g94 R_l2_g94   R94C0   R94C1   R94C2     NaN   R94C4
R_l0_g95 R_l1_g95 R_l2_g95   R95C0   R95C1   R95C2   R95C3   R95C4
R_l0_g96 R_l1_g96 R_l2_g96   R96C0   R96C1   R96C2   R96C3   R96C4
R_l0_g97 R_l1_g97 R_l2_g97   R97C0   R97C1   R97C2   R97C3   R97C4
R_l0_g98 R_l1_g98 R_l2_g98   R98C0   R98C1     NaN   R98C3   R98C4
R_l0_g99 R_l1_g99 R_l2_g99   R99C0   R99C1   R99C2   R99C3   R99C4

[100 rows x 5 columns]

In [11]:
[i for i in dir(tm) if i.startswith('make')]

['makeBoolIndex',
 'makeCategoricalIndex',
 'makeCustomDataframe',
 'makeCustomIndex',
 'makeDataFrame',
 'makeDateIndex',
 'makeFloatIndex',
 'makeFloatSeries',
 'makeIntIndex',
 'makeIntervalIndex',
 'makeMissingCustomDataframe',
 'makeMissingDataframe',
 'makeMixedDataFrame',
 'makeMultiIndex',
 'makeObjectSeries',
 'makePanel',
 'makePeriodFrame',
 'makePeriodIndex',
 'makePeriodPanel',
 'makePeriodSeries',
 'makeRangeIndex',
 'makeStringIndex',
 'makeStringSeries',
 'makeTimeDataFrame',
 'makeTimeSeries',
 'makeTimedeltaIndex',
 'makeUIntIndex',
 'makeUnicodeIndex']

# Modern Pandas tricks and tips

Method chaining is the pandas was to stitch together multiple operations on the data. 


## `query`, `filter`

http://jose-coto.com/query-method-pandas

This is how you query for not null; Nan != Nan so this works


#df.query('Team=="Spain" and Medal==Medal')

## `assign` is mutate


## pipe

In [2]:
s = pd.Series(data=[3.2,5.6,8.0], index=pd.to_datetime(['2018-01-31', '2018-02-28', '2018-09-30']))

In [3]:
s

2018-01-31    3.2
2018-02-28    5.6
2018-09-30    8.0
dtype: float64

In [4]:
s.reindex(pd.date_range('2018-01', '2018-12', freq='M')).fillna(method='ffill')

2018-01-31    3.2
2018-02-28    5.6
2018-03-31    5.6
2018-04-30    5.6
2018-05-31    5.6
2018-06-30    5.6
2018-07-31    5.6
2018-08-31    5.6
2018-09-30    8.0
2018-10-31    8.0
2018-11-30    8.0
Freq: M, dtype: float64

In [5]:
df = pd.DataFrame(data = {
    'grp1': ['red','red','red','blue','blue'],
    'grp2': [18, 20,20, 18, 22],
    'dt': pd.to_datetime(['2018-01-31', '2018-02-28', '2018-09-30', '2018-01-31', '2018-09-30']),
    's': [3.2, 4.8, 5.1, 5.3, 5.8],
    'r': [1,2,3,4,5],
    't': [7,8,9,10,11],
})

In [6]:
df

   grp1  grp2         dt    s  r   t
0   red    18 2018-01-31  3.2  1   7
1   red    20 2018-02-28  4.8  2   8
2   red    20 2018-09-30  5.1  3   9
3  blue    18 2018-01-31  5.3  4  10
4  blue    22 2018-09-30  5.8  5  11

In [7]:
df = df.set_index(['grp1', 'grp2'])

In [8]:
idx = pd.date_range('2017-12', '2018-12', freq='M')
def my_reindex(x):
    #import pdb; pdb.set_trace()
    tmp = x.set_index(x.dt).reindex(idx)
    tmp['dt'] = tmp.index.get_level_values(0)
    return tmp

In [9]:
df = df.groupby(['grp1', 'grp2']).apply(my_reindex)

In [10]:
df

                             dt    s    r     t
grp1 grp2
blue 18   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  5.3  4.0  10.0
          2018-02-28 2018-02-28  NaN  NaN   NaN
          2018-03-31 2018-03-31  NaN  NaN   NaN
          2018-04-30 2018-04-30  NaN  NaN   NaN
          2018-05-31 2018-05-31  NaN  NaN   NaN
          2018-06-30 2018-06-30  NaN  NaN   NaN
          2018-07-31 2018-07-31  NaN  NaN   NaN
          2018-08-31 2018-08-31  NaN  NaN   NaN
          2018-09-30 2018-09-30  NaN  NaN   NaN
          2018-10-31 2018-10-31  NaN  NaN   NaN
          2018-11-30 2018-11-30  NaN  NaN   NaN
     22   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  NaN  NaN   NaN
          2018-02-28 2018-02-28  NaN  NaN   NaN
          2018-03-31 2018-03-31  NaN  NaN   NaN
          2018-04-30 2018-04-30  NaN  NaN   NaN
          2018-05-31 2018-05-31  NaN  NaN   NaN
          2018-06-30 2018-06-30  NaN  NaN   NaN
          2018-07-31 2018-07-31  NaN  NaN   NaN
          2018-08-31 2018-08-31  NaN  NaN   NaN
          2018-09-30 2018-09-30  5.8  5.0  11.0
          2018-10-31 2018-10-31  NaN  NaN   NaN
          2018-11-30 2018-11-30  NaN  NaN   NaN
red  18   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  3.2  1.0   7.0
          2018-02-28 2018-02-28  NaN  NaN   NaN
          2018-03-31 2018-03-31  NaN  NaN   NaN
          2018-04-30 2018-04-30  NaN  NaN   NaN
          2018-05-31 2018-05-31  NaN  NaN   NaN
          2018-06-30 2018-06-30  NaN  NaN   NaN
          2018-07-31 2018-07-31  NaN  NaN   NaN
          2018-08-31 2018-08-31  NaN  NaN   NaN
          2018-09-30 2018-09-30  NaN  NaN   NaN
          2018-10-31 2018-10-31  NaN  NaN   NaN
          2018-11-30 2018-11-30  NaN  NaN   NaN
     20   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  NaN  NaN   NaN
          2018-02-28 2018-02-28  4.8  2.0   8.0
          2018-03-31 2018-03-31  NaN  NaN   NaN
          2018-04-30 2018-04-30  NaN  NaN   NaN
          2018-05-31 2018-05-31  NaN  NaN   NaN
          2018-06-30 2018-06-30  NaN  NaN   NaN
          2018-07-31 2018-07-31  NaN  NaN   NaN
          2018-08-31 2018-08-31  NaN  NaN   NaN
          2018-09-30 2018-09-30  5.1  3.0   9.0
          2018-10-31 2018-10-31  NaN  NaN   NaN
          2018-11-30 2018-11-30  NaN  NaN   NaN

In [11]:
df[['s', 'r']] = df.groupby(level=[0,1])[['s','r']].fillna(method='ffill')

In [12]:
df

                             dt    s    r     t
grp1 grp2
blue 18   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  5.3  4.0  10.0
          2018-02-28 2018-02-28  5.3  4.0   NaN
          2018-03-31 2018-03-31  5.3  4.0   NaN
          2018-04-30 2018-04-30  5.3  4.0   NaN
          2018-05-31 2018-05-31  5.3  4.0   NaN
          2018-06-30 2018-06-30  5.3  4.0   NaN
          2018-07-31 2018-07-31  5.3  4.0   NaN
          2018-08-31 2018-08-31  5.3  4.0   NaN
          2018-09-30 2018-09-30  5.3  4.0   NaN
          2018-10-31 2018-10-31  5.3  4.0   NaN
          2018-11-30 2018-11-30  5.3  4.0   NaN
     22   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  NaN  NaN   NaN
          2018-02-28 2018-02-28  NaN  NaN   NaN
          2018-03-31 2018-03-31  NaN  NaN   NaN
          2018-04-30 2018-04-30  NaN  NaN   NaN
          2018-05-31 2018-05-31  NaN  NaN   NaN
          2018-06-30 2018-06-30  NaN  NaN   NaN
          2018-07-31 2018-07-31  NaN  NaN   NaN
          2018-08-31 2018-08-31  NaN  NaN   NaN
          2018-09-30 2018-09-30  5.8  5.0  11.0
          2018-10-31 2018-10-31  5.8  5.0   NaN
          2018-11-30 2018-11-30  5.8  5.0   NaN
red  18   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  3.2  1.0   7.0
          2018-02-28 2018-02-28  3.2  1.0   NaN
          2018-03-31 2018-03-31  3.2  1.0   NaN
          2018-04-30 2018-04-30  3.2  1.0   NaN
          2018-05-31 2018-05-31  3.2  1.0   NaN
          2018-06-30 2018-06-30  3.2  1.0   NaN
          2018-07-31 2018-07-31  3.2  1.0   NaN
          2018-08-31 2018-08-31  3.2  1.0   NaN
          2018-09-30 2018-09-30  3.2  1.0   NaN
          2018-10-31 2018-10-31  3.2  1.0   NaN
          2018-11-30 2018-11-30  3.2  1.0   NaN
     20   2017-12-31 2017-12-31  NaN  NaN   NaN
          2018-01-31 2018-01-31  NaN  NaN   NaN
          2018-02-28 2018-02-28  4.8  2.0   8.0
          2018-03-31 2018-03-31  4.8  2.0   NaN
          2018-04-30 2018-04-30  4.8  2.0   NaN
          2018-05-31 2018-05-31  4.8  2.0   NaN
          2018-06-30 2018-06-30  4.8  2.0   NaN
          2018-07-31 2018-07-31  4.8  2.0   NaN
          2018-08-31 2018-08-31  4.8  2.0   NaN
          2018-09-30 2018-09-30  5.1  3.0   9.0
          2018-10-31 2018-10-31  5.1  3.0   NaN
          2018-11-30 2018-11-30  5.1  3.0   NaN

In [31]:
grp = list('a'*10 + 'b'*10)

In [29]:
a = np.random.random(20)
b = np.random.random(20)

In [34]:
df = pd.DataFrame(data={'a':a, 'b': b, 'grp':grp}).reindex()

In [35]:
df

           a         b grp
0   0.127549  0.519809   a
1   0.747064  0.578003   a
2   0.700345  0.669318   a
3   0.918301  0.640542   a
4   0.145638  0.385831   a
5   0.629985  0.543243   a
6   0.823524  0.337866   a
7   0.920285  0.450894   a
8   0.504879  0.778842   a
9   0.551221  0.711543   a
10  0.426566  0.824588   b
11  0.696181  0.560486   b
12  0.368793  0.495373   b
13  0.184642  0.597128   b
14  0.143368  0.053302   b
15  0.515057  0.931680   b
16  0.936834  0.158296   b
17  0.842991  0.551786   b
18  0.733862  0.175616   b
19  0.268917  0.114932   b

This is common in alpha modeling. You want the percentile rank of a stock by some value. Assuming the dataframe is one day, stocks in rows, and grp is the, say, sector indicator. What is the percentile rank for each stock in each sector by some raw value "a"? In this case, we want the highest number to be at the lowest percentile.

In [41]:
df.groupby('grp')['a'].rank(ascending=False, pct=True)

0     1.0
1     0.4
2     0.5
3     0.2
4     0.9
5     0.6
6     0.3
7     0.1
8     0.8
9     0.7
10    0.6
11    0.4
12    0.7
13    0.9
14    1.0
15    0.5
16    0.1
17    0.2
18    0.3
19    0.8
Name: a, dtype: float64

In [1]:
#shifted = df.set_index(["date", "cusip"]).unstack().shift(7).stack()

In [ ]:
#data['lag_t28'] = data.groupby(['id'])['demand'].transform(lambda x: x.shift(28))

## Problem: Getting lags on irregular dates 

You want the value from 2 months ago per asset, but each asset doesn't have all the same dates.

In [16]:
df = pd.DataFrame(data = {
    'item': ['red','red','red','blue','blue'],
    'dt': pd.to_datetime(['2018-01-31', '2018-02-28', '2018-03-31', '2018-01-31', '2018-03-31']),
    's': [3.2, 4.8, 5.1, 5.3, 5.8],
    'r': [1,2,3,4,5],
    't': [7,8,9,10,11],
})

In [17]:
df

   item         dt    s  r   t
0   red 2018-01-31  3.2  1   7
1   red 2018-02-28  4.8  2   8
2   red 2018-03-31  5.1  3   9
3  blue 2018-01-31  5.3  4  10
4  blue 2018-03-31  5.8  5  11

In [23]:
df.assign(laggy=lambda df: df.set_index(['dt']).groupby('item')['s'].shift(2, 'M').reindex(pd.MultiIndex.from_frame(df[['item','dt']])).values)

   item         dt    s  r   t  laggy
0   red 2018-01-31  3.2  1   7    NaN
1   red 2018-02-28  4.8  2   8    NaN
2   red 2018-03-31  5.1  3   9    3.2
3  blue 2018-01-31  5.3  4  10    NaN
4  blue 2018-03-31  5.8  5  11    5.3